@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --primary-color: #e8e3d9;
  --secondary-color: #a59e8c;
  --quality-color: #3d3d3d;
  --booking-color: #f11b1b;
  --background-color: #ffffff;
  --dark-color: #000000;
  --light-color: #ffffff;
  --primary-button-color: #2b3b2f;
  --button-color-secondary: #5b3000;
  --no-color: #f0ede6;
  --secondary-calendar-color: #d7d4cc;
}

.booking_container {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 5rem;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3rem 2rem 4rem;
}

.booking_sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.booking_sidebar h1 {
  font-family: 'Lalezar', 'inter', sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--quality-color);
  line-height: 1.2;
}

.booking_sidebar h2 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.booking_sidebar p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.bemaerk {
  font-weight: 700;
  color: var(--dark-color);
  margin-top: 1.5rem;
}

/*Full Calender*/

.calendar_main {
  background-color: var(--primary-color);
  padding: 1.5rem;
  border-radius: 0.625rem;
}

#calendar {
  width: 100%;
  background-color: transparent;
}

.fc .fc-button-group{
    gap: 0.5rem;
}

.fc .fc-button-primary {
  background-color: var(--primary-button-color);
  border: none;
  color: var(--light-color);
  border-radius: 0.25rem;
  font-weight: 600;
  padding: 0.2rem 0.75rem;
  cursor: pointer;
  font-size: 0.875rem;
}

.fc .fc-button-primary:hover {
  background-color: var(--quality-color);
}

.fc .fc-toolbar-title {
  font: 1.25rem;
  font-weight: 700;
  color: var(--quality-color);
  text-transform: uppercase;
}

.fc td,
.fc th {
  border-color: var(--quality-color);
}

/*.fc-day-tue,
.fc-day-thu {
    background-color: var(--secondary-calendar-color);
}*/

.fc-day-future:hover {
  background-color: #9CAF88;
}

.fc-daygrid-day-number{
    color: var(--quality-color);
}

.fc .fc-col-header-cell {
  background-color: var(--secondary-color);
}

.fc .fc-col-header-cell-cushion {
  color: var(--light-color);
  font-weight: 600;
  padding: 0.625rem 0;
}

.fc-day-past {
  background-color: var(--no-color);
  opacity: 0.5;
}

.fc .fc-daygrid-bg-invert {
    background-color: var(--booking-color) !important;
    opacity: 0.3 !important;
}

.fc-bg-event {
    background-color: var(--booking-color) !important;
    opacity: 0.3 !important;
}

/*Modal*/

.modal {
  display: none;
  position: fixed;
  z-index: 300;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.25rem);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: var(--primary-color);
  padding: 2.5rem;
  border-radius: 0.625rem;
  max-width: 500px;
  width: 100%;
  position: relative;
  box-shadow: 0 0.625rem 1.75rem rgba(0, 0, 0, 0.15);
  border: none;
}

.modal-content h3 {
    font-size: 1.5rem;
    color: var(--quality-color);
    margin-bottom: 0.5rem;
    font-weight: 700;
}

#modal-valgt-tid {
    display: inline-block;
    font-size: 1rem;
    color: var(--quality-color);
    margin-bottom: 1.5rem;
    font-weight: 600;
    background-color: var(--secondary-calendar-color);
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
}

#valgt-klokkeslaet {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    margin-top: 0.2rem;
}

.luk-knap{
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
    font-size: 1.75rem;
    cursor: pointer;
    color: var(--quality-color);
}

.luk-knap:hover{
    color: var(--booking-color);
}

.form-group{
    margin-bottom: 1.25rem;
}

.form-group label{
    display: block;
    font-size: 1rem;
    color: var(--quality-color);
    margin-bottom: 0.25rem;
    font-weight: 600;
}

.form-group input, .form-group textarea{
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--secondary-color);
    font-size: 1rem;
    color: var(--dark-color);
    background-color: var(--light-color);
}

.form-group textarea{
    height: 100px;
    resize: none;
}

.book-knap{
    width: 100%;
    background-color: var(--primary-button-color);
    border: none;
    color: var(--light-color);
    border-radius: 0.25rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
    margin-top: 0.5rem;
    transition: background-color 0.2s;
}

.book-knap:hover{
    background-color: var(--quality-color);
}

/*Succes Modal*/
#modal-succes-indhold{
    display: none;
    text-align: center;
    padding: 2rem 0;
}

#modal-succes-indhold h3{
    font-size: 2rem;
    color: var(--quality-color);
    font-family: 'Lalezar', 'inter', sans-serif;
    margin-bottom: 1rem;
    font-weight: 700;
}

#modal-succes-indhold p{
    color: var(--dark-color);
    font-size: 1rem;
    line-height: 1.5;
}

/* Responsivt */

@media (max-width: 769px) {
    .booking_container {
        width: 100%;
      grid-template-columns: 1fr;
      gap: 3rem;
      padding: 7rem 1rem 2rem;
    }

    .booking_sidebar {
        order: -1;
    }

    .booking_sidebar h1 {
        font-size: 2.2rem;
        padding-bottom: 1.5rem;
    }

    .fc .fc-button-primary {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
    }

    
}