@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inter", sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  background-color: darkolivegreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 100;
}

a {
  font-family: "Lalezar", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

a:visited {
  color: white;
}

.navigation_desktop {
  display: none;
}

.offscreen_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  max-width: 450px;
  right: -450px;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5rem;
  transition: 0.3s ease;
  z-index: 150;
}

.offscreen_menu.active {
  right: 0;
}

.navigation_mobile {
  display: flex;
}

.burger_menu {
  height: 50px;
  width: 40px;
  margin-left: auto;
  margin-right: 20px;
  position: relative;
  z-index: 160;
}

.burger_menu span {
  height: 5px;
  width: 100%;
  border-radius: 1.5rem;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
}

.burger_menu span:nth-child(1) {
  top: 25%;
}
.burger_menu span:nth-child(3) {
  top: 75%;
}

.burger_menu.active span {
  background-color: black;
}

.burger_menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger_menu.active span:nth-child(2) {
  opacity: 0;
}
.burger_menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.off_screen_menu a:active {
  border-bottom: 1px solid #000;
  padding-bottom: 4px;
}

@media (min-width: 768px) {
  .navigation_mobile {
    display: none;
  }

  .navigation_venstre {
    gap: 4rem;
  }

  .navigation_højre {
    background-color: #5b3000;
    border-radius: 0.983rem;
    padding: 0.688rem 2.375rem;
    cursor: pointer;
  }
}
